@font-face { 
	font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf'); 
	font-family: Alegreya; src: url('../fonts/Alegreya-Regular.ttf'); 
	font-family: Open Sans; src: url('../fonts/OpenSans-Regular.ttf'); 
}

body {
	background: #F5F5F5;
	font-family: "Roboto", "Alegreya", sans-serif;
	font-style: normal;
	min-width: 320px;
	margin:auto;
}

main {
	background: #131313;
	color: #F2F2F2;
	width: 100%;
	height: 100%;
}

header {
	height: 140px;
	width: 100%;
	display: flex;
    align-items: center;
}

.header-wrapper {
	display: flex;
	padding-left: 700px;
}

header > img {
	max-width: 100%;
 	height: auto;
	padding-left: 290px;
}

header a {
	color: #FFFFFF;
	text-decoration-line: none;
	font-weight: 400;
	font-size: 24px;
	margin-left: 40px;
	padding: 1px;
}

header a:hover {
	border-bottom: 2px solid #929292;
}

a.here {
	text-decoration-line: underline;
}

.zwei {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 535px;
}

.imageWithText {
	position: relative;
}

.imageWithText:hover a img {
	opacity: 0.5;
}

h1 {
	font-family: 'Roboto';
	font-weight:lighter ;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	letter-spacing: 0.035em;
	text-transform: uppercase;
	width: 1420px;
	height: 150px;
	margin-top: 181px;
	margin-bottom: 204px;

}

#image1 {
	width: 100%;
	margin: 0;
}

.firstPhotoSetDescription {
	display: flex;
	justify-content: center;
	margin-top: 64px;
	margin-bottom: 20px;
}
h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	color: #F2F2F2;
	width: 100%;
	height: 42px;
	margin: 0;
}
.second-PhotoSetDescription {
	display: flex;
	justify-content: center;
	margin-bottom: 65px;
}
.second-PhotoSetDescription-p {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #BDBDBD;
	width: 689px;
	height: 85px;
	margin: 0;
}

.firstPhotoSet {
 	display: flex;
	justify-content: center;
}
.firstPhotoSet2 {
	display: flex;
	flex-direction: column;
}

.firstPhotoSet .imageText {
	position: absolute;
	font-family: 'Roboto';
	bottom: 24px;
	font-weight: 400;
	font-size: 20px;
	color: #BDBDBD;
	white-space: nowrap;
	left: 50%;
	transform: translate(-50%, 50%);
}

img [src="images/image3.png"] {
	width: 675px;
	height: 490px;
}
img [src="images/image2.png"] {
	width: 673px;
	height: 873px;
}

.photoSetMainText {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	color: #F2F2F2;
	width: 641px;
	height: 231px;
	margin-top: 32px;
	margin-left: 33px;
}

.townHall .imageText {
	position: absolute;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 20px;
	color: #BDBDBD;
	min-width: 1150px;
	left: 50%;
    top: 40%;
	transform: translate(-50%, 50%);
	bottom: 100px;
}

.townHall .townHallTitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #F2F2F2;
	margin: 0;
}

.vier {
	margin-top: 64px;
	margin-bottom: 64px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.pVier {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #BDBDBD;
	width: 100%;
	height: 27px;
}

.thirdPhotoSet {
	display: flex;
	justify-content: center;
}

.thirdPhotoSet .imageText {
	position: absolute;
	font-family: 'Roboto';
	bottom: 24px;
	font-weight: 400;
	font-size: 20px;
	color: #F2F2F2;
	white-space: nowrap;
	left: 50%;
	transform: translate(-50%, 50%);
}

img [src="images/Image 4.png"] {
	width: 443px;
	height: 416px;
}
img [src="images/Image 5.png"] {
	width: 464px;
	height: 416px;
}
img [src="images/Image 6.png"] {
	width: 442px;
	height: 416px;
}

#image7 {
	width: 100%;
	margin-top: 64px;
}

.museum-bg--1 {
	position: absolute;
	width: 486px;
	height: 584px;
	background: url("../images/image8.png") no-repeat;
	margin-top: 670px;
	margin-left: 43px;
}

.museum-bg--2 {
	position: absolute;
	width: 486px;
	height: 584px;
	background: url("../images/image8.png") no-repeat;
	margin-top: 670px;
	right: 43px;
	z-index: 1;
}

.museum {
	width: 100%;
	height: 1400px;
	display: flex;
	flex-direction: column;
	padding-top: 64px;
}

.museum-title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}

.museum-subtitle {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: #F2F2F2;
	padding-bottom: 48px;
}

.firstset {
	display: flex;
}

.firstset .imageText {
	position: absolute;
	font-family: 'Roboto';
	bottom: 24px;
	font-weight: 700;
	font-size: 24px;
	color: #F2F2F2;
	white-space: nowrap;
	left: 50%;
	transform: translate(-50%, 50%);
}

#img9 {
	height: 398px;
}

#img10 {
	width: 100%;
	height: 398px;
}

.item-wrapper {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 1350px;
	z-index: 20;
}

.item-wrapper p {
	position: absolute;
	font-family: 'Roboto';
	bottom: 24px;
	font-weight: 700;
	font-size: 24px;
	color: #F2F2F2;
	white-space: nowrap;
	left: 50%;
	transform: translate(-50%, 50%);
}

.flex-direction {
	display: flex;
}

#map-container {
	position: relative;
}

#map {
	width: 100%;
	height: 370px;
	opacity: 0.9;
}


#contacts-block {
	float: left;
	padding: 25px;
	padding-bottom: 35px;
	padding-top: 0;
	width: 308px;
	height: 181px;
	background-color: white;
	color: #121212;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
	align-items: center;
	position: absolute;
	left: 70%;
	top: 60px;
}

#contacts-block h3 {
	font-weight: 700;
	font-size: 22px;
	line-height: 163.42%;
	margin-bottom: 6px;
}

#contacts-block ul {
	list-style-type: square;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-bottom: 10px;
}

#contacts-block ul li {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 149.85%;
}

#contacts-block a {
	margin-right: 7px;
}

#help {
	background-color: white;
	color: black;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 70%;
	text-align: center;
	width: 65%;
	margin: auto;
	margin-top: -5px;
	padding: 10px;
}

#help h2 {
	color: black;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 163.42%;
	text-transform: none;
}

#form-container {
	border-radius: 3px;
	padding: 25px;
	text-align: center;
}

#form-container #name, #form-container #mail, #form-container #send {
	background: #F0F0F0;
	border: 1px solid #C6C6C6;
	border-radius: 3px;
	padding: 15px;
	margin-right: 31px;
	font-family: 'Open Sans';
	font-style: normal;
}

#form-container #name, #form-container #mail {
	width: 30%;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

#form-container #send {
	background: #FFE600;
	width: 22%;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	cursor: pointer;
}

#form-container #send:hover {
	background: #FFD600;
}

h1.desc {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 200;
	font-size: 64px;
	line-height: 75px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.035em;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.desc {
	display: flex;
	align-items: center;
	padding: 80px;
	padding-top: 25px;
	padding-bottom: 60px;
	width: 80%;
	margin: auto;
}

div.desc img {
	border-radius: 8px;
}

div.desc p {
	margin: auto;
	margin-left: 25px;
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 44px;
}

#back {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 163.42%;
	text-decoration-line: none;
	background: #F2C94C;
	color: black;
	border-radius: 3px;
	padding: 15px 30px;
	margin: auto;
	margin-bottom: 25px;
	width: 10%;
	display: flex;
	justify-content: center;
}

#back:hover {
	opacity: 0.92;
}

footer {
	height: 210px;
	width: 100%;
	background: #0C0C0C;
	display: flex;
    align-items: center;
}

footer a {
	color: #FFFFFF;
	text-decoration-line: none;
	font-weight: 400;
	font-size: 24px;
	margin-left: 40px;
}

footer a:hover {
	border-bottom: 2px solid #929292;
}

.footer-wrapper {
	display: flex;
	margin-left: 450px;
}

.footerImg {
	max-width: 100%;
 	height: auto;
	padding-left: 290px;
}
