@font-face { 
	font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf'); 
	font-family: Alegreya; src: url('../fonts/Alegreya-Regular.ttf'); 
}

body {
	background: #F5F5F5;
	font-family: 'Roboto';
	font-style: normal;
}

main {
	background: #131313;
	color: #F2F2F2;
	width: 99.8%;
	height: 6155px;
}


header > a {
	color: #FFFFFF;
	text-decoration-line: none;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	position: relative;
}

header > a:hover {
	background: white;
	color: black;
}

header > img {
	position: absolute;
	width: 3%;
	height: 9%;
	left: 15.5%;
	top: 44px;
}

a.home {
	left: 70%;
	top: 67px;
}

a.gallery {
	left: 74%;
	top: 67px;
}

a.contacts {
	left: 78%;
	top: 67px;
}

h1, h2, h2 + p {
	position: relative;
}

h1 {
	font-weight: 200;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	letter-spacing: 0.035em;
	text-transform: uppercase;
	width: 75%;
	left: 13%;
	top: 311px;
}

#image1, #image2 {
	position: relative;
}

#image1 {
	width: 100%;
	height: 1000px;
	top: 665px;
}

#image2 {
	left: 26.5%;
	width: 73.4%;
	height: 873px;
	top: 2230px;
	
}

#image3 {
	position: absolute;
	left: 100%;
	width: 73.4%;
	height: 490px;
	top: 2230px;
}

h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	width: 20%;
	height: 32px;
	left: 40.5%;
	top: 729px;
}

h2 + p {
	font-family: 'Alegreya';
	font-style: normal;
	color: #BDBDBD;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	width: 38%;
	height: 85px;
	left: 31.5%;
	top: calc(725px + 0.2%);
}

div, div > p {
	position: relative;
}

div {
	width: 50%;
	height: 873px;
	top: -23%;
}

div > p {
	width: 69%;
	height: 231px;
	left: 103%;
	top: 1850px;
	font-size: 24px;
	line-height: 28px;
}
